<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  
<body>
    <nav class="navbar navbar-default" style="background-color: #c3f7e500;">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand navbar-li">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/" class="navbar-li">HOME</a></li>
        <li id="about"><a href="/about" class="navbar-li">ABOUT US</a></li>
        <li id="contact"><a href="/compose" class="navbar-li">COMPOSE</a></li>
        <li id="contact"><a href="/contact" class="navbar-li">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">