<%-include("partials/header")-%>
    <h1>Compose</h1>
    <form accept="/" method="POST" class="">
        <input type="text" name="newBlogContent" autocomplete="off" placeholder="Enter you Blog Content here" class="">
        <button type="submit" name="button" class="btn btn-info">Compose</button>
    </form>
    <%-include("partials/footer")-%>