<%-include("partials/header")-%>
    <h1>Compose</h1>
    <form accept="/" method="POST" class="">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="newBlogContent" autocomplete="off" placeholder="Enter you Blog title here" class="form-control">
        </div>
        <div>
            <label for="post" class="form-label">Post</label>
            <textarea class="form-control" name="post" rows="4" placeholder="Enter your Blog content here"></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-info" style="background-color:lightseagreen ; margin-top: 5px;">Compose</button>
    </form>

    <%-include("partials/footer")-%>